<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <li><a href="{% url 'home' %}">Home</a></li>
        </div>
        <div>
            <li><a href="{% url 'about' %}">About</a></li>
        </div>
        <div>
            <li><a href="{% url 'finches_create' %}">Create Finch</a></li>
        </div>
        <div>
            <li><a href="{% url 'index' %}">View All My Finches</a></li>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>